.header-page {
  &__logo {
    cursor: pointer;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
    border-bottom: 1px #ccc solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
  }
  &__link {
    padding: 10px;

    font-size: 20px;
    font-weight: 700;

    color: #108885;
    border-bottom: 4px transparent solid;
  }
  &__link:hover {
    border-bottom: 4px #108885 solid;
    color: #108885;

    transition: 0.5s;
  }
  &__nav .ant-anchor {
    // height: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__user {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    &-language-box {
      top: 100%;
    }
    p {
      margin: 0px 10px;

      font-size: 16px;
    }
    &-mobile {
      min-width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-name {
      color: #00e1ff;
    }
  }

  &__icon {
    padding: 10px;
    font-size: 26px;
    color: #108885;
  }
  &__btn-login {
    padding: 6px;

    font-size: 20px;
    font-weight: 600;

    color: #00e1ff;
    border: #00e1ff 1px solid;
    border-radius: 10px;
  }
  &__menu {
    font-size: 30px;
  }
  &__avatar {
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  &__language-icon {
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: #00e1ff;

      transition: 0.2s;
    }
  }
}

// @media screen and (min-width: 768px) {
//   .header-page {
//     &__nav .ant-anchor {
//       flex-direction: row;
//     }
//   }
// }
@media screen and (min-width: 768px) {
  .header-page {
    &__wrapper {
      padding: 0px 38px;
    }
  }
}
@media screen and (min-width: 992px) {
  .header-page {
    &__wrapper {
      padding: 0px 30px;
    }
    &__nav {
      height: 70px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__user {
      display: flex;
      flex-direction: row;
    }
    &__avatar {
    }
    &__icon {
      padding: 10px;
      font-size: 26px;
      color: #108885;
    }
    &__nav .ant-anchor {
      flex-direction: row;
    }
    &__link {
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .header-page {
    &__wrapper {
      padding: 0px 50px;
    }
    &__link {
      font-size: 20px;
    }
  }
}
.ant-anchor-ink::before {
  background-color: transparent;
}
