.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.form {
  min-width: 300px;
  padding: 30px;

  border-radius: 24px;
  background: #191919;

  box-shadow: 10px 10px 20px #191919;

  text-align: center;
}
.label {
  margin-bottom: 10px;
  color: #fff;
}
.formGroup {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;

  margin: 18px auto;
}
.inputForm {
  width: 200px;
  padding: 6px;
  margin: 0px;
  border: solid 2px #0984e3;
  outline: none;
  border-radius: 24px;

  text-align: center;

  color: #fff;
  background-color: #191919;

  cursor: pointer;

  transition: 0.5s;
}

.inputForm:hover {
  width: 230px;

  border-color: #fdcb6e;
}
.button {
  width: 216px;
  margin-top: 10px;
  padding: 6px;
  border: solid 2px #55efc4;
  background: none;
  border-radius: 24px;

  color: #fff;
  cursor: pointer;

  transition: 0.5s;
  outline: none;
}
.button:focus {
  outline: none;
}

.button:hover {
  background-color: #81ecec;
  color: #95a5a6;
}

.button.regis-btn {
  width: 300px;
}

@media screen and (min-width: 800px) {
  .button {
    width: 300px;
  }
}
