.intro-container {
  margin-top: 10px;
}
.intro-home {
  &__info {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 16px;
      }
    }
    &-content {
      display: flex;
      justify-content: space-around;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        margin: 0;
        font-weight: 700;
      }

      h4 {
        font-weight: 700;
      }
    }
  }
  &__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      min-height: 150px;
    }
    p {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }
    p.text-large-size {
      font-size: 40px;
    }
  }
  &__chart.background-img {
    background: url('https://i.stack.imgur.com/WRPum.png') no-repeat center;
  }
}
.confirmed {
  color: rgb(243, 11, 11);
}
.recovered {
  color: rgb(0, 225, 255);
}
.deaths {
  color: rgb(155, 155, 155);
}
