.header-dashboard {
  &__container {
    margin: 10px;
  }
  //   position: fixed;
  //   top: 0;
  //   margin: 14px;
  //   z-index: 1;
  //   width: auto;
  &__logo {
    width: 40px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    width: 100%;
    margin: 10px;
    padding: 4px;
    border-radius: 4px;
  }
  &__text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
  }
  &__icon {
    font-size: 30px;
  }
  &__logo {
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .header-dashboard {
    &__contact {
      &-icon {
        font-size: 30px;
      }
    }
  }
}
